$body-font-family = 'Lato', sans-serif
$heading-font-family = 'Lato', sans-serif
$button-border-radius = 8px

.v-btn {
  font-weight: bold;
}

.round-card {
  border-radius: 10px;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

@import '~vuetify/src/stylus/main'